<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Flashcards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A44CBD301D9C89CA006E6BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A44CBD441D9C89CC006E6BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A44CBD4F1D9C89CC006E6BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
