<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleBrowser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A457609E1D90DC3E00FA41AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A45760B21D90DC3F00FA41AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A45760BD1D90DC3F00FA41AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
